.container {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}

.trashButton:hover {
  transform: rotate(15deg) scale(1.3);
}

.trashButton {
  border-radius: 1rem;
  border: 0;
  width: 40px;
}
